main{
    width: 75vw;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    background-color: antiquewhite;
}

h2{
    text-align: center;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex>* {
    display: block;
    margin: 10px;
    flex: 0 0 500px;
    border: 2px solid black;
}

.flex li{
    list-style: none;
    text-align: center;
    font-size: 30px;
    margin: 5px;
}

.flex img{
    margin: 5px;
    width: 16vw;
    height: 9vw;
}