body {
    background-color: #faebd7;
    width: 80vw;
    max-width: 1700px;
    margin: 0 auto;
}

body>* {
    background-color: #f0d4b0;
    padding: 10px;
    margin: 10px 0;
}

h1{
    text-align: center;
}

h2 {
    margin-bottom: 0;
    text-align: center;
}

section{
    clear:both;
    margin: 15px;
}

section#bio{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section#bio>*{
    flex: 0 1 auto;
    margin: 10px;
}

section#bio>img{
    width: 250px;
    max-width: 100%;
}

section#bio>p{
    max-width: 75ch;
}

section#projects>p{
    text-align: center;
    margin-top: 0;
}

section#projects>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div.project_cell{
    flex: 0 1 350px;
    border: 2px black solid;
    border-radius: 10px;
    padding: 1em;
    margin: 3px;
    position: relative;
}

div.project_image{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(139, 139, 139);
    text-align: center;
}

div.project_image>img{
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

div.project_description{
    margin-bottom: 1lh;
}

div.project_description>*{
    margin: 1ex auto;
}

a.project_link{
    width: fit-content;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer>p {
    flex: 0 0 content;
    margin: 1ex 1em;
}

footer a {
    word-wrap: break-word;
}