body {
    background-color: #faebd7;
    width: 80vw;
    max-width: 1700px;
    margin: 10px auto;
}

body>* {
    background-color: #f0d4b0;
    border: 10px solid #d4af7f;
    padding: 5px;
    margin: 10px;
}

h1{
    text-align: center;
    width: fit-content;
    margin: auto
}

h2 {
    margin: 0;
    text-align: center;
}

section{
    clear:both;
    margin: 15px;
}

section#bio{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section#bio>*{
    flex: 0 1 auto;
    margin: 10px;
}

section#bio>img{
    width: 250px;
    max-width: 100%;
    border: 3px black solid;
}

section#bio>div>p{
    max-width: 75ch;
    font-size: 20px;
    margin-top: 10px;
}

section#projects>p{
    text-align: center;
    margin-top: 0;
}

section#projects>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div.project_cell{
    flex: 0 1 350px;
    border: 3px #d4af7f solid;
    border-radius: 10px;
    padding: 1em;
    margin: 3px;
    position: relative;
}

div.project_image{
    width: 80%;
    margin: 0 auto;
    background-color: black;
    text-align: center;
    border: 3px solid black;
}

div.project_image>img{
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

div.project_description{
    margin-bottom: 1lh;
}

div.project_description>*{
    margin: 1ex auto;
}

a.project_link{
    width: fit-content;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer>p {
    flex: 0 0 content;
    margin: 1ex 1em;
}

footer a {
    word-wrap: break-word;
}

a:link,
a:visited{
    color: rgb(209, 99, 209);
}

a:focus,
a:hover,
a:active {
    color: purple;
}