body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#gameWrapper {
    display: grid;
    grid-template-rows: 50px 1fr 150px;
    grid-template-columns: 200px 600px 200px;
    grid-template-areas:
        "inventory scene   timer"
        "inventory scene   notes"
        "inventory textbox notes";
    gap: 20px;
    margin: 15px;
}

#gameWrapper>* {
    background-color: black;
    border: 4px solid white;
}

#scene {
    grid-area: scene;
    aspect-ratio: 16/9;
    overflow: auto;
}

#textbox {
    grid-area: textbox;
}

#inventory {
    grid-area: inventory;
    margin: 0;
    list-style: none;
    padding: 0;
}

#timer {
    grid-area: timer;
    margin: 0;
    text-align: center;
    align-content: center;
}

#notes {
    grid-area: notes;
    background-color: white;
    border: 4px solid gray;
    resize: none;
}