/*
    Body
*/
html {
    background-color: black;
}

body {
    margin: 0;
}

#siteWrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 50px 1fr 30px;
    grid-template-areas:
        "nav"
        "main"
        "footer";
}

#siteWrapper>nav {
    grid-area: nav;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

a.navLink {
    flex-grow: 1;
    height: 100%;
    display: block;
}

#siteWrapper>main {
    grid-area: main;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: repeat(3, 100%);
}

main>section {
    overflow-y: auto;
}

#siteWrapper>footer {
    grid-area: footer;
}

/*
    Catch
*/
#catch {
    background-color: #ea9999;
}

/*
    Pokedex
*/
#pokedex {
    background-color: #9fc5e8;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 350px 1fr;
    grid-template-areas:
        "head   head"
        "data   list"
        "filter list";
    gap: 20px;
    padding: 10px;
}

#pokedex>h1{
    grid-area: head;
    margin: 0;
    text-align: center;
}

#pokedexList {
    grid-area: list;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 40px 10px;
    overflow: hidden auto;
    align-content: start;
    justify-content: center;
}

#pokedexList>img {
    display: block;
}

img.notCaught {
    filter: contrast(0%);
}

#pokedexData{
    grid-area: data;
}

#pokedexFilters{
    grid-area: filter;
}

/*
    Favorite
*/
#favorite {
    background-color: #ffe599;
}

/*
    Responsive
*/