@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Press Start 2P", system-ui;
}

#gameWrapper {
    display: grid;
    grid-template-rows: 50px 271px 150px;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas:
        "inventory scene   timer"
        "inventory scene   notes"
        "inventory textbox notes";
    gap: 20px;
    margin: 15px;
}

#gameWrapper>* {
    background-color: black;
    border: 4px solid white;
}

#scene {
    grid-area: scene;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
    background-size: contain;
}

#scene>* {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
}

/*https://stackoverflow.com/questions/12690444/css-border-on-png-image-with-transparent-parts*/
*[data-hovered="true"] {
    filter: drop-shadow(2px 2px 0 yellow) drop-shadow(-2px -2px 0 yellow) drop-shadow(2px -2px 0 yellow) drop-shadow(-2px 2px 0 yellow);
    cursor: pointer;
}

#textbox {
    grid-area: textbox;
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: 1fr;
}

#textbox>p {
    margin-top: 20px;
    margin-left: 10px;
    overflow-y: auto;
    line-height: 1.2;
}

#textbox>p::before {
    content: "* ";
}

#textbox>ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 0 0 auto;
    margin: 10px;
    justify-content: end;
}

#inventory {
    grid-area: inventory;
    margin: 0;
    list-style: none;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    grid-template-rows: repeat(auto-fit, 80px);
    overflow-y: auto;
    justify-content: center;
    gap: 5px;
}

#inventory>li {
    display: block;
    border-radius: 10px;
    background-color: rgb(26, 26, 26);
}

#inventory img {
    width: 100%;
}

#timer {
    grid-area: timer;
    margin: 0;
    text-align: center;
    align-content: center;
}

#notes {
    grid-area: notes;
    background-color: white;
    border: 4px solid gray;
    resize: none;
}