@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*
    Body
*/
html {
    background-color: black;
}

body {
    margin: 0;
    font-family: "Press Start 2P", system-ui;
}

#siteWrapper {
    max-width: 1500px;
    display: grid;
    margin: auto;
    height: 100vh;
    grid-template-rows: 30px 1fr 20px;
    grid-template-areas:
        "nav"
        "main"
        "footer";
}

#siteWrapper>nav {
    grid-area: nav;
    list-style: none;
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 20px;
}

button[id$=SceneButton] {
    flex: 1 1 0px;
    height: 100%;
    display: block;
    border: none;
}

#catchSceneButton {
    background-color: #ea9999;
    color: #660000;
}

#pokedexSceneButton {
    background-color: #9fc5e8;
    color: #073763;
}

#favoritesSceneButton {
    background-color: #ffe599;
    color: #7f6000;
}

#siteWrapper>main {
    grid-area: main;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: repeat(3, 100%);
}

main>section {
    overflow-y: auto;
}

#siteWrapper>footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>p {
    margin: 0;
    color: rgb(160, 160, 160);
    font-size: 8px;
}

a,
a:visited{
    color: red;
}

a:hover,a:focus{
    color: blue;
}

a:active{
    color: yellow;
}

img {
    image-rendering: pixelated;
}

button, select {
    font-family: "Press Start 2P", system-ui;
}

/*
    Catch
*/
#catch {
    background-color: #ea9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#catchWindow {
    background-color: #f4cccc;
    border: 4px solid #660000;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 80%;
    width: 800px;
    margin: 20px;
    gap: 20px;
}

#catchWindow>h1 {
    margin: 0;
    text-align: center;
}

#catchInput {
    text-align: center;
    border: 2px solid #660000;
}

#catchWindow button{
    font-size: 10px;
    height: 20px;
    background-color: #660000;
    border: 2px solid #660000;
    border-radius: 5px;
    color: white;
}

#catchWindow button:hover{
    border: 2px solid white;
}

#catchWindow button:active{
    background-color: #ea9999;
}

#caughtImage {
    width: 300px;
    max-width: 80%;
    aspect-ratio: 1;
    background-color: white;
    border: 6px solid #660000;
    border-radius: 1000px;
}

#caughtText {
    margin: 0;
    text-align: center;
}

/*
    Pokedex
*/
#pokedex {
    background-color: #9fc5e8;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 300px 1fr;
    grid-template-areas:
        "head   head"
        "data   list"
        "filter list";
    gap: 20px;
    padding: 5px 5%;
}

#pokedex>h1 {
    grid-area: head;
    margin-bottom: 0;
    text-align: center;
}

#pokedexList {
    grid-area: list;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 15px;
    overflow: hidden auto;
    scrollbar-width: none;
    align-content: start;
    justify-content: center;
    background-color: #cfe2f3;
    border: 4px solid #073763;
    border-radius: 30px;
    padding: 20px 15px;
}

#pokedexList>* {
    border: 4px solid #073763;
    border-radius: 5px;
    background-color: #9fc5e8;
    width: fit-content;
}

#pokedexList>*:hover{
    border: 4px solid #ffffff;
}

#pokedexList>*:active{
    background-color: #cfe2f3;
}

#pokedexList img{
    display: block;
    width: 100%;
}

img.notCaught {
    filter: contrast(0%);
}

#pokedexData {
    grid-area: data;
    background-color: #cfe2f3;
    border: 4px solid #073763;
    border-radius: 30px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}

#pokedexData>div {
    display: block;
    border: 4px solid #073763;
    border-radius: 5px;
    background-color: #9fc5e8;
    width: fit-content;
    align-self: center;
}

#pokedexData>div>img{
    width: 200px;
}

#pokedexData > p {
    font-size: 10px;
}

#pokedexFilters {
    grid-area: filter;
    min-height: 150px;
    height: 100%;
    overflow: auto;
}

#pokedexData>img{
    width: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*
    Favorite
*/
#favorite {
    background-color: #ffe599;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "head"
        "list";
    gap: 20px;
    padding: 10px 10%;
}

#favorite>h1 {
    grid-area: head;
    margin-bottom: 0;
    text-align: center;
}

#favoriteList {
    grid-area: list;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 20px;
    overflow: hidden auto;
    scrollbar-width: none;
    align-content: start;
    justify-content: center;
    background-color: #fff2cc;
    border: 4px solid #7f6000;
    border-radius: 30px;
    padding: 20px 15px;
}

#favoriteList>* {
    border: 4px solid #7f6000;
    border-radius: 5px;
    background-color: #ffe599;
    width: fit-content;
}

/*
    Responsive
*/