/*
    Body
*/
body {
    margin: 0;
}

#siteWrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 50px 1fr 30px;
    grid-template-areas:
        "nav"
        "main"
        "footer";
}

#siteWrapper>nav {
    grid-area: nav;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

a.navLink{
    flex-grow: 1;
    height: 100%;
    display: block;
}

#siteWrapper>main {
    grid-area: main;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: repeat(3, 100%);
}

#siteWrapper>footer {
    grid-area: footer;
}

/*
    Catch
*/
#catch {
    background-color: #ea9999;
}

/*
    Pokedex
*/
#pokedex {
    background-color: #9fc5e8;
}

#pokedexList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 40px 10px;
}

#pokedexList>img {
    display: block;
}

img.notCaught {
    filter: contrast(0%);
}

/*
    Favorite
*/
#favorite {
    background-color: #ffe599;
}

/*
    Responsive
*/