@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*
    Body
*/
html {
    background-color: black;
}

body {
    margin: 0;
    font-family: "Press Start 2P", system-ui;
}

#siteWrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 50px 1fr 30px;
    grid-template-areas:
        "nav"
        "main"
        "footer";
}

#siteWrapper>nav {
    grid-area: nav;
    list-style: none;
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 25px;
}

button[id$=SceneButton] {
    flex: 1 1 0px;
    height: 100%;
    display: block;
    border: none;
}

#catchSceneButton {
    background-color: #ea9999;
    color: #660000;
}

#pokedexSceneButton {
    background-color: #9fc5e8;
    color: #073763;
}

#favoritesSceneButton {
    background-color: #ffe599;
    color: #7f6000;
}

#siteWrapper>main {
    grid-area: main;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: repeat(3, 100%);
}

main>section {
    overflow-y: auto;
}

#siteWrapper>footer {
    grid-area: footer;
}

footer>p {
    margin: 0;
}

img {
    image-rendering: pixelated;
}

button, select {
    font-family: "Press Start 2P", system-ui;
}

/*
    Catch
*/
#catch {
    background-color: #ea9999;
}

#catchWindow {
    background-color: #f4cccc;
    border: 4px solid #660000;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 80%;
    width: 800px;
    margin: 60px auto;
    gap: 20px;
}

#catchWindow>h1 {
    margin: 0;
    text-align: center;
}

#catchInput {
    text-align: center;
    border: 2px solid #660000;
}

#catchWindow button{
    font-size: 10px;
    height: 20px;
    background-color: #660000;
    border: 2px solid #660000;
    border-radius: 5px;
    color: white;
}

#catchWindow button:hover{
    border: 2px solid white;
}

#catchWindow button:active{
    background-color: #ea9999;
}

#caughtImage {
    width: 400px;
    max-width: 80%;
    aspect-ratio: 1;
    background-color: white;
    border: 6px solid #660000;
    border-radius: 1000px;
}

#caughtText {
    margin: 0;
    text-align: center;
}

/*
    Pokedex
*/
#pokedex {
    background-color: #9fc5e8;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 350px 1fr;
    grid-template-areas:
        "head   head"
        "data   list"
        "filter list";
    gap: 20px;
    padding: 10px;
}

#pokedex>h1 {
    grid-area: head;
    margin: 0;
    text-align: center;
}

#pokedexList {
    grid-area: list;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 40px 10px;
    overflow: hidden auto;
    align-content: start;
    justify-content: center;
}

#pokedexList>img {
    display: block;
}

img.notCaught {
    filter: contrast(0%);
}

#pokedexData {
    grid-area: data;
}

#pokedexFilters {
    grid-area: filter;
}

/*
    Favorite
*/
#favorite {
    background-color: #ffe599;
}

/*
    Responsive
*/